.th-product-compare-wrap {
    .field-to-show {
        width: 570px;
        display: flex;
        flex-direction: column;
        grid-gap: 20px;

        .row_ {
            display: flex;

            >div {
                flex: 1;
            }
        }
    }
}