.th-product-compare-btn {
    margin: 10px 0;
    &.txt_type {
        color      : #3575e9;
        font-weight: bold;
    }

    &.btn_type {
        color           : white;
        padding         : 8px 10px;
        background-color: black;
        display         : flex !important;
        grid-gap        : 5px;
        width           : fit-content;
        line-height     : 1;

        &.th-added-compare {
            &::before {
                content    : '\f15e';
                font-family: 'dashicons';
            }
        }
    }
}