.admin-bar .th-compare-output-wrap .th-compare-output-wrap-inner {
    height: calc(90% - 53px);
}

.th_product_Compare_body_Class {
    overflow: hidden !important;
}

.th-compare-output-wrap {
    background-color: #131212d6;
    position        : fixed;
    width           : 100%;
    z-index         : 10000;
    top             : 0;
    height          : 100%;
    left            : 0;
    opacity         : 0;
    animation       : popupStyle1 1.2s ease 0s 1 forwards;

    a,
    span {
        font-family: "Catamaran-Regular", sans-serif;
    }

    .th-compare-rating {
        font-family: "star";
        color      : #f9b538;

        span {
            font-family: 'star';

        }

        .star-rating {
            float : unset;
            margin: auto;
        }
    }

    // animation: popupStyle1 duration timing-function delay iteration-count direction fill-mode;
    .th-compare-output-wrap-inner {
        * {
            box-sizing: border-box;
        }

        background-color : #ffffff;
        height           : 90%;
        margin           : 35px 30px;
        width            : calc(100% - 60px);
        position         : relative;
        overflow         : auto;
        border-radius    : 4px;
        padding-top      : 69px;
    }

    .th-compare-loader {
        display: none;
    }

    &.th-loading {
        .th-compare-loader {
            position       : absolute;
            z-index        : 10000;
            background     : #ffffffe8;
            width          : 100%;
            height         : 100%;
            display        : flex;
            justify-content: center;
            align-items    : center;

            svg {
                animation: loaderTMK .8s linear 0s infinite forwards;

            }
        }
    }

    &.th-compare-output-wrap-close {
        animation: popupStyle1close .4s linear 0s;
    }

    .th-compare-heading {
        position  : relative;
        text-align: center;
        background: #060606;
        padding   : 11px;
        position  : fixed;
        z-index   : 10000;
        top       : 35px;
        width     : calc(100% - 60px);

        .heading_ {
            font-size: 30px;
            color    : white;
        }

        .error_ {
            color         : #eb3033;
            display       : block;
            font-size     : 13px;
            letter-spacing: .5px;
            font-weight   : 600;
        }
    }

    .th-compare-output-close {
        width   : fit-content;
        position: absolute;
        right   : 0;
        top     : 0;

        i {
            font-size    : 28px;
            color        : black;
            background   : white;
            height       : unset;
            width        : unset;
            cursor       : pointer;
            border-radius: 3px;
        }
    }
}

// product configure style 
.th-compare-output-product {
    overflow: auto;

    .product-table-configure {
        width : fit-content;
        margin: 0;

        tr {
            position: relative;

            &:nth-child(odd) {
                td {
                    background-color: white;

                    &.left-title {
                        background-color: #f7f7f7;
                    }
                }
            }

            &:nth-child(even) {
                td {
                    background-color: rgb(247, 247, 247);

                    &.left-title {
                        background-color: #dedede;
                    }
                }
            }
        }

        td {
            padding       : 16px 7px;
            vertical-align: middle;
            border        : none;
            text-align    : -webkit-center;
            min-width     : 400px;

            &.left-title {
                position : relative;
                z-index  : 1000;
                width    : 220px;
                min-width: 178px;
                max-width: 242px;

                span {
                    display: block;
                }
            }

            &.th-in-stoct {
                color           : #08a308;
                background-color: #d3f7d3 !important;
            }

            &.th-out-of-stoct {
                color           : #a90a0a;
                background-color: #ffdfdf !important;
            }

        }

        .top-title td.left-title {
            z-index: 1010;
        }

        .th-add-to-cart_ {
            display        : flex;
            justify-content: center;
            grid-gap       : 7px;
            flex-wrap      : wrap;

            .th-compare-add-to-cart-btn,
            .added_to_cart {
                // color        : #202020;
                // background   : transparent;
                // border       : 1px solid;
                // border-radius: 3px;
                // padding      : 6px 20px;
                // font-size    : 13px;
                transition: 0.3s all ease;

                // &:hover {
                //     background-color: #eaeaeafc;
                // }

                &.loading {
                    display    : flex;
                    align-items: center;
                    width      : fit-content;

                    &:after {
                        position   : unset;
                        margin-left: 5px;
                    }
                }
            }
        }

        .price_ {
            color          : #5d5e61;
            font-weight    : 600;
            display        : flex;
            justify-content: center;
            grid-gap       : 7px;
            font-size      : 17px;
            letter-spacing : 1px;
        }

        .image {
            .image-and-addcart {
                display       : flex;
                flex-direction: column;
                grid-gap      : 10px;
                padding       : 10px;

                .img_ {
                    min-width: 180px;
                    max-width: 100%;
                    width    : 270px;
                    height   : 270px;
                    position : relative;
                    margin   : auto;

                    img {
                        position        : absolute;
                        left            : 0;
                        top             : 0;
                        object-fit      : contain;
                        height          : 100%;
                        width           : 100%;
                        border-radius   : 12px;
                        /* background   : #f1f1f1; */
                        // box-shadow   : 0px 0px 1px 0.5px #d6d6d6;
                    }
                }

                .product-title_ {
                    color         : #5d5e61;
                    font-weight   : 600;
                    letter-spacing: 1px;
                }


            }
        }



        .th-compare-product-remove {
            color          : #444444;
            background     : transparent;
            display        : flex;
            justify-content: center;
            align-items    : center;
            margin         : auto;
            font-size      : 13px;
            grid-gap       : 4px;
            border         : none;
            border-bottom  : 1px solid transparent;
            padding        : 1px;

            i {
                color: #d84747;
            }

            &:hover {
                border-bottom: 1px solid #d84747;
            }
        }
    }
}

@keyframes popupStyle1 {
    0% {
        opacity  : 0;
        transform: translateY(-80px);
    }

    100% {
        opacity  : 1;
        transform: translateY(0);
    }
}

@keyframes popupStyle1close {
    0% {
        opacity: 1;
    }

    100% {
        opacity   : 0;
        visibility: 0;
    }
}

@keyframes loaderTMK {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.th-compare-output-product::-webkit-scrollbar {
    height: 2px;
    width : 2px;
}

.th-compare-output-product::-webkit-scrollbar-thumb {
    background   : black;
    border-radius: 10px;
}