//right side bar
.th-right-sidebar {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  padding-left: 16px;
  width: 22%;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 9px;
    padding: 24px 16px;
    border-radius: 4px;
    color: #111;
    text-align: center;
    background: #fff;

    span.heading_ {
      font-size: 17px;
      font-weight: bold;
    }

    a {
      text-decoration: none;
      font-weight: bold;
      padding: 0.5rem 1.5rem;
      font-size: 0.6875rem;
      background: #f7a100;
      color: #fff;
      border-radius: 4px;
      box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
    }
  }
}
